<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Comfortaa:100,300,400">


    <title>Title</title>
</head>

<body>

<!-- navbar -->

<nav class="navbar navbar-expand-sm fixed-top ">
    <a class="navbar-brand" href="#">QUEST STORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
        <li class="nav-item">
            <a class="nav-link " data-value="My Profile" href="/student/profile">My Profile</a></li>
        <li class="nav-item"><a class="nav-link " data-value="Shop" href="/student/shop">Shop</a></li>
            <li class="nav-item"><a class="nav-link " data-value="/student/contribution" href="/student/contribution">Contributions</a></li>
            <li class="nav-item">
                <form method="POST">
                    <input class="navbar-button" name="formType" value="logout" hidden>
                    <button class="navbar-button nav-link" data-value="blog"  type="submit">Log out</button>
                </form>
            </li>
    </ul>
    </div>
</nav>

<header class="header">

    <div class="container">

        <div class="row extra_margin">
            <div>
                <div class="col-md-6">

                    <figure>

                        <img src="https://via.placeholder.com/250x250" />

                    </figure>


                </div>

            </div>
            <div class="col-md-6" style="padding-top: 15px; color: white">
                <h2 style="font-size: 20px">{{ Name }}</h2>
                <p style="font-size: 15px">Current LVL {{ level }}</p>
                <p style="font-size: 15px">Colected experience: {{ experience }}</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{ percentEXP }}%">
                    </div>

                </div>
                <div class="container">
                    <h2>Your super-space Coins</h2>
                     <a class="nav-link " data-value="Shop" href="/student/shop"><button type="button" class="btn btn-primary" href="/student/shop"><i style="font-size:24px" class="fa" href="/student/shop">$ {{ coolcoins }}</i><span class="badge"></span></button></a>


                </div>
            </div>


            <div class="col-md-12" style="margin-bottom: 5%">
                <h3 class="title">Cards that you have already used</h3>
                <hr />
            </div>
        </div>


        <div class="row extra-margin">

            {% for card in studentCards  %}
            <div class="card col-xs-6 card-style" >
                <div class="card-header">
                    {{ card.getCardType }}
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">{{ card.getTitle }}</h5>
                    <p class="card-text">{{ card.getDescription }}</p>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</header>



<footer class="footer">
    <nav class="navbar navbar-expand-sm">
        <p> number: 123456789 <br> email: example@example.com</p>
    </nav>
</footer>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

</body>
</html>