<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Comfortaa:100,300,400">

    <title>Title</title>
</head>

<body>

<!-- navbar -->

<nav class="navbar navbar-expand-sm fixed-top ">
    <a class="navbar-brand" href="#">QUEST STORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
        <li class="nav-item">
            <a class="nav-link " data-value="My Profile" href="/student/profile">My Profile</a></li>
        <li class="nav-item">
            <a class="nav-link " data-value="Shop" href="/student/shop">Shop</a></li>
        <li class="nav-item">
            <a class="nav-link " data-value="Whipe-round" href="whip_round.html">Whip-round</a></li>
            <li class="nav-item">
                <form method="POST">
                    <input class="navbar-button" name="formType" value="logout" hidden>
                    <button class="navbar-button nav-link" data-value="blog"  type="submit">Log out</button>
                </form>
            </li>
    </ul>
    </div>
</nav>
<header class="header">
<div class="container">
    <h2 class="title">Cards you can still buy</h2>
    <h3 class="title" style="color: red">Purchase failed! You dont have enough money! </h3>

    <div class="row">

        {% for card in artifacts  %}
        <div class="card col-md-3 card-style" >
            <div class="card-header">
                {{ card.getCardType }}
            </div>
            <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title card-title-centered">{{ card.getTitle }}</h5>
                <p class="card-text">{{ card.getDescription }}</p>

                <form method="POST">
                    <input name="formType" value="title" hidden>
                    <input name="title" value="{{ card.getTitle }}" HIDDEN >
                    <input type="submit" method="POST" class="deleteButton btn btn-primary" value="$ {{ card.getCoolcoinValue * -1 }} BUY"/>
                </form>

            </div>
        </div>
        {% endfor %}

    </div>
</div>
</header>

<footer class="footer">
    <nav class="navbar navbar-expand-sm">
        <p> number: 123456789 <br> email: example@example.com</p>
    </nav>
</footer>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

</body>
</html>